client/ai_ops/config/.env
client/ai_ops/src/agents/__pycache__/
client/ask_data/config/.env
client/ai_ops/src/llm/__pycache__/
client/ai_ops/src/prompt_engineering/topics/__pycache__/
client/ai_ops/src/tools/__pycache__/
client/ask_data/.langgraph_api/
client/ask_data/.langgraph_api/store.pckl
client/ask_data/.langgraph_api/store.vectors.pckl
client/ask_data/src/agent_teams/__pycache__/
client/ask_data/src/agents/__pycache__/
client/ask_data/src/apps/__pycache__/
client/ask_data/src/common/__pycache__/
client/ask_data/src/llm/__pycache__/
client/ask_data/src/nemo_guardrails/__pycache__/
client/ask_data/src/system_prompt/__pycache__/
client/ask_data/src/tools/__pycache__/
mcp_server/mcp_redis/config/.env
mcp_server/mcp_redis/__pycache__
mcp_server/dbtools-mcp-server/config/.env
mcp_server/dbtools-mcp-server/src/__pycache__/
mcp_server/dbtools-mcp-server/src/common/__pycache__
client/.DS_Store
.DS_Store
client/.DS_Store
client/ai_ops/src/common/__pycache__/config.cpython-313.pyc
mcp_server/mcp_redis/ocir.sh
client/open_ai_agents/src/agents/research_bot/planner.py
client/open_ai_agents/src/agents/research_bot/search.py
client/open_ai_agents/src/agents/research_bot/writer.py
client/open_ai_agents/src/agents/research_bot/__pycache__/planner.cpython-313.pyc
client/open_ai_agents/src/agents/research_bot/__pycache__/search.cpython-313.pyc
client/open_ai_agents/src/agents/research_bot/__pycache__/writer.cpython-313.pyc
mcp_server/mcp_redis/src/__pycache__/__init__.cpython-313.pyc
mcp_server/mcp_redis/src/__pycache__/main.cpython-313.pyc
mcp_server/mcp_redis/src/common/__pycache__/__init__.cpython-313.pyc
mcp_server/mcp_redis/src/common/__pycache__/config.cpython-313.pyc
mcp_server/mcp_redis/src/common/__pycache__/connection.cpython-313.pyc
mcp_server/mcp_redis/src/common/__pycache__/server.cpython-313.pyc
mcp_server/mcp_redis/src/tools/__pycache__/__init__.cpython-313.pyc
mcp_server/mcp_redis/src/tools/__pycache__/dataframe.cpython-313.pyc
mcp_server/mcp_redis/src/tools/__pycache__/hash.cpython-313.pyc
mcp_server/mcp_redis/src/tools/__pycache__/server_management.cpython-313.pyc
client/.DS_Store
client/ai_ops/images/db_operator.mp4
